{{- /* Comments area start */ -}}
{{- if and (site.Params.utterances.enabled) (.Params.comments) -}}
<div class="utterances-container" style="margin-top: 40px;">
  <script src="https://utteranc.es/client.js"
    repo="{{ site.Params.utterances.repo }}"
    issue-term="{{ site.Params.utterances.issueTerm }}"
    label="{{ site.Params.utterances.label }}"
    theme="{{ site.Params.utterances.theme }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end -}}
{{- /* Comments area end */ -}}
